@import "tailwindcss";

@font-face {
  font-family: 'Bookman';
  src: url('/fonts/Bookman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #722F37;
  --color-secondary: #C5A059;
  --color-canvas: #FDFBF7;
  --color-ink: #722F37;

  --font-bookman: "Bookman", serif;
  --font-playfair: "Bookman", serif;
  --font-lato: "Bookman", serif;
}
